*.class
*.log
.cache
.history
.DS_Store
.lib/
app/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
project/plugins/project/
#idea
.idea
*.iml
.idea_modules
*.json
*.json--

*.swp
.scala_dependencies
.worksheet
ingest-intrusion-data/ingest-intrusiondata-tmp/*
bigdl/source/lib
release/staging/
deploy.conf
kafka-stream-s/project/build.properties
kafka-stream-q/project/build.properties
