*.class
*.log
.cache
.history
.DS_Store
.lib/
app/*
dist/*
target/
tmp/
lib_managed/
src_managed/
project/boot/
project/target/
project/project/
project/plugins/project/
#idea
.idea
*.iml
.idea_modules
*.json
*.json--
tmp/
*.swp
.scala_dependencies
.worksheet
ingest-intrusion-data/ingest-intrusiondata-tmp/*
bigdl/source/lib
release/staging/
deploy.conf

kafka-stream-s/project/build.properties
kafka-stream-q/project/build.properties
kafka-stream-q-example-proc/project/build.properties
kafka-stream-q-example-dsl/project/build.properties

kafka-stream-q-example-proc/src/main/resources/application-proc.conf
kafka-stream-q-example-dsl/src/main/resources/application-dsl.conf
